{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block header_nav_brand %}
    <a class="nav-link text-white link-light link-underline link-underline-opacity-0" href="{% url 'example:index' %}">Example</a>
{% endblock header_nav_brand %}

{% block header_nav_collapse_left %}
    {% include 'example/partials/menu/navigation.html' %}
{% endblock header_nav_collapse_left %}

{% block header_nav_collapse_right %}
    {% include 'example/partials/menu/administration.html' %}
{% endblock header_nav_collapse_right %}

{% block content %}

    <div class="allianceauth-example-plugin">
        {% block view_block %}
            <!-- Your content goes here -->
        {% endblock %}
    </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_script %}
{% endblock %}
