name: PyPi Build Test

on:
  push:
    branches:
      - '**'

    tags-ignore:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build-test:
    name: PyPi Build Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
          check-latest: true

      - name: Install Tools
        run: |
          python -m pip install -U pip
          pip install -U build
      - name: Package Build
        env:
          STACKMANAGER_VERSION: 9999
        run: python -m build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: dist
          if-no-files-found: ignore
